.content {
  @include itemsOrientation(flex, center);
  align-items: center;
  flex-direction: column;

  .search-txt {
    border-radius: 5px;
    box-shadow: 0px 2px 3px $titleColor;
    color: $textColor;
    text-align: center;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
  }
  .list {
    @include itemsOrientation(grid, center);
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 70px 15px;
    color: $textColor;
    a {
      text-decoration: none;
      .movies-list {
        list-style-type: none;
        box-shadow: 1px 2px 7px $textColor;
        border-radius: 10px;
        color: $textColor;
        &:hover {
          background-color: rgba(230, 228, 228, 0.658);
        }
        .movieDiv {
          display: grid;
          grid-template-rows: 150px 1fr 50px;
          grid-template-columns: 1fr;
          gap: 20px;
          padding: 20px;
          img {
            height: 250px;
            width: 200px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
