.myFavorite {
  @include itemsOrientation(flex, space-between);
  font-size: 35px;
  font-weight: 700;
  color: $textColor;
  margin-bottom: 30px;

  .btnHome {
    display: flex;
    align-items: center;
    color: $textColor;
    box-shadow: 0px 2px 3px $titleColor;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;

    .homeIcon {
      width: 20px;
      height: 20px;
      margin-right: 2px;
      margin-bottom: 1px;
      color: $titleColor;
    }
    .home {
      font-size: 15px;
      font-weight: 600;
      margin-left: 0;
    }
  }
}

.favorite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 50px;
  .hidden {
    @include itemsOrientation(grid, center);
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 220px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 1px 2px 7px $textColor;
    border-radius: 10px;
    text-align: center;
    &:hover {
      background-color: #fff5f5;
    }
    .delete {
      cursor: pointer;
      width: 40px;
      height: 40px;
      color: $cancleColor;
    }
  }
}
