@import './colors';
@mixin itemsOrientation($display, $justify) {
  display: $display;
  justify-content: $justify;
}
.header {
  @include itemsOrientation(flex, center);
  position: relative;
  align-items: center;
  margin-bottom: 100px;
  .topLink {
    text-decoration: none;
    .linkFavorite {
      display: flex;
      position: absolute;
      right: 0px;
      bottom: 10px;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0px 2px 3px $titleColor;
      .iconsHeart {
        color: $cancleColor;
        width: 20px;
        height: 20px;
        margin-right: 2px;
      }
      .favLink {
        font-size: 15px;
        color: $textColor;
        font-weight: 600;
        margin: 0;
      }
    }
  }
  .h1 {
    @include itemsOrientation(flex, center);
    font-size: 60px;
    letter-spacing: 1.2px;
    color: $titleColor;
    text-shadow: 0px 3px 5px $shadowColor;
  }
}
