.divModal {
  @include itemsOrientation(grid, center);
  text-align: center;
  align-items: center;
  font-size: 18px;
  color: $textColor;
  .modalni {
    @include itemsOrientation(flex, space-between);
    margin-top: 20px;
    .button1 {
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: $cancleColor;
    }
    .back {
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: $textColor;
    }
  }
}
