.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.header .topLink {
  text-decoration: none;
}

.header .topLink .linkFavorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 3px #8e793e;
          box-shadow: 0px 2px 3px #8e793e;
}

.header .topLink .linkFavorite .iconsHeart {
  color: #c92a2a;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.header .topLink .linkFavorite .favLink {
  font-size: 15px;
  color: #343a40;
  font-weight: 600;
  margin: 0;
}

.header .h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  letter-spacing: 1.2px;
  color: #8e793e;
  text-shadow: 0px 3px 5px #8e793e9c;
}

.divModal {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #343a40;
}

.divModal .modalni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.divModal .modalni .button1 {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #c92a2a;
}

.divModal .modalni .back {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #343a40;
}

.myFavorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 35px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 30px;
}

.myFavorite .btnHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #343a40;
  -webkit-box-shadow: 0px 2px 3px #8e793e;
          box-shadow: 0px 2px 3px #8e793e;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

.myFavorite .btnHome .homeIcon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-bottom: 1px;
  color: #8e793e;
}

.myFavorite .btnHome .home {
  font-size: 15px;
  font-weight: 600;
  margin-left: 0;
}

.favorite {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 50px;
}

.favorite .hidden {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 80px 1fr 50px;
      grid-template-rows: 80px 1fr 50px;
  -ms-grid-columns: 220px;
      grid-template-columns: 220px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-shadow: 1px 2px 7px #343a40;
          box-shadow: 1px 2px 7px #343a40;
  border-radius: 10px;
  text-align: center;
}

.favorite .hidden:hover {
  background-color: #fff5f5;
}

.favorite .hidden .delete {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #c92a2a;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .search-txt {
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px #8e793e;
          box-shadow: 0px 2px 3px #8e793e;
  color: #343a40;
  text-align: center;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
}

.content .list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin: 70px 15px;
  color: #343a40;
}

.content .list a {
  text-decoration: none;
}

.content .list a .movies-list {
  list-style-type: none;
  -webkit-box-shadow: 1px 2px 7px #343a40;
          box-shadow: 1px 2px 7px #343a40;
  border-radius: 10px;
  color: #343a40;
}

.content .list a .movies-list:hover {
  background-color: rgba(230, 228, 228, 0.658);
}

.content .list a .movies-list .movieDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 1fr 50px;
      grid-template-rows: 150px 1fr 50px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.content .list a .movies-list .movieDiv img {
  height: 250px;
  width: 200px;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */