@import './header';
@import './colors';
@import './modal';
@import './favoriteMovies';
@import './content';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.App {
  @include itemsOrientation(flex, center);
  margin: 30px;
  flex-direction: column;
}
